:root {
    --cor-padrao: rgb(152, 3, 252);
    --tamanho-de-fonte-padrao: 20px;
}

h2 {
  color: var(--cor-padrao, blue);
  font-size: var(--tamanho-de-fonte-padrao, 20px);
}

h3 {
    color: var(--cor-padrao, red);
    font-size: var(--tamanho-de-fonte-padrao, 20px);
}

p {
    color: var(--cor-padrao, red);
    font-size: var(--tamanho-de-fonte-padrao);
}

span {
    color: var(--cor-padrao, red);
    font-size: var(--tamanho-de-fonte-padrao, 20px);
}